<!-- <h1>Lazy Loading Concept</h1>
<h3>Admin Module</h3>
<button type="button" routerLink="admin/list">admin list</button>
<button type="button" routerLink="admin/user">admin user</button>
<h3>Customer Module</h3>
<button type="button" routerLink="customer/list">customer list</button>
<button type="button" routerLink="customer/order">customer order</button>
<router-outlet></router-outlet> -->


<!-- Services and dependancy injection concept -->
<!-- <h1>{{title}}</h1>
<ul>
    <li *ngFor="let user of users">{{user.name}} : {{user.age}}</li>
</ul> -->


<!-- <app-footer></app-footer> -->


<!-- code for structural directives like *ngIf,*ngFor -->

<!-- <app-structural-directives></app-structural-directives> -->

<!-- code for template refference variable -->

<!-- <input type="text" name="maya" value="ux" placeholder="user name" #uname>
<button (click)="onCreateUser(uname)">create user</button> -->

<!-- code for push and splice method -->

<!-- <app-push-splice></app-push-splice> -->


<!-- code for routing -->

<!-- <ul>
    <li><a routerLinkActive="active" routerLink="home" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
    <li><a routerLinkActive="active" routerLink="products">Products</a></li>
    <li><a routerLinkActive="active" routerLink="contact">Contact</a></li>
    <li><a routerLinkActive="active" routerLink="about">About</a></li>
    <li><a routerLinkActive="active" routerLink="buy-product">Buy Product</a></li>
</ul>

<router-outlet></router-outlet> -->

<!-- code for exercise.. cover *ngif,*ngfor,push,splice,input and output -->
<!-- <app-parentsecond></app-parentsecond> -->


<!-- code for component life cycle hook 

<app-componentlifecyclehook></app-componentlifecyclehook>-->


<!-- code for custom pipe , filter pipe-->
<app-home></app-home>