<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">

                <div class="card-body">
                    <h4 class="card-title">Laptop</h4>
                    <p class="card-text">Some example text</p>
                    <a routerLink="laptop" class="btn btn-primary">Know More</a>
                </div>
                <img class="card-img-top" src="img_avatar1.png" alt="Card image">
            </div>



            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Mobile</h4>
                    <p class="card-text">Some example text</p>
                    <a routerLink="mobile" class="btn btn-primary">Know More</a>
                </div>
                <img class="card-img-bottom" src="img_avatar6.png" alt="Card image">
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Television</h4>
                    <p class="card-text">Some example text</p>
                    <a routerLink="television" class="btn btn-primary">Know More</a>
                </div>
                <img class="card-img-bottom" src="img_avatar6.png" alt="Card image">
            </div>
        </div>
        <div class="col-sm-4">
           <router-outlet></router-outlet>
        </div>
    </div>
</div>